<a href="https://colab.research.google.com/github/mvoassis/meteora_tableau/blob/main/Challenge_BI_sem_3_Data_Clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
vendedores = pd.read_csv('vendedores.csv')
vendedores.head()

   vendedor_id    nome_vendedor
0            1       Ana Duarte
1            2  Daniel Siqueira
2            3   N치dia Oliveira
3            4  Millena Pereira
4            5    Paulo Calanca

In [3]:
produto = pd.read_csv('produto.csv')
produto.head()

   produto_id                 produto   preco           marca     sku condicao
0        2706             Blusa Cinza   590.0           Mixed  297627    Usado
1        3451        Vestido Ombro S칩   250.0      Lemon Cola  295317    Usado
2        3820    Shorts Jeans Tye Dye   139.0         Lezalez  252560    Usado
3        3829  Sneaker Monograma Bege  2630.0   Louis Vuitton  256175    Usado
4        3865     Bolsa Cl치ssica Roxa  6500.0  Christian Dior  165834    Usado

In [4]:
produto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produto_id  205 non-null    int64
 1   produto     205 non-null    object
 2   preco       205 non-null    float64
 3   marca       205 non-null    object
 4   sku         205 non-null    int64
 5   condicao    205 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.7+ KB

In [5]:
pedido = pd.read_csv('pedido.csv')
pedido.head()

   pedido_id  produto_id  vendedor_id data_compra   total
0          1        5292          2.0  2020-02-16  3456.0
1          3       29650          3.0  2020-02-01   720.0
2          9       18751          5.0  2021-02-04  5940.0
3         11        7871          3.0  2019-12-01  2520.0
4         21        2706          3.0  2020-01-03  2950.0

In [6]:
pedido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25056 entries, 0 to 25055
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pedido_id    25056 non-null  int64
 1   produto_id   25056 non-null  int64
 2   vendedor_id  24527 non-null  float64
 3   data_compra  25056 non-null  object
 4   total        25056 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 978.9+ KB

In [7]:
sum(pedido.vendedor_id.isna())

529

In [8]:
itens_pedido = pd.read_csv('itens_pedido.csv')
itens_pedido.head()

,produto_id,pedido_id,quantidade,valor_unitario,valor_total,estado,frete,id_nf
0,3,11482,6,250.0,1500.0,BR-PR,300.0,24967
1,3,11985,5,6500.0,32500.0,BR-PA,6500.0,24971
2,3,55229,1,6500.0,6500.0,BR-RO,1300.0,25037
3,3,64811,3,139.0,417.0,BR-MA,834.0,25054
4,4,47664,5,110.0,550.0,BR-RJ,110.0,25026

In [9]:
itens_pedido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25056 entries, 0 to 25055
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   produto_id      25056 non-null  int64
 1   pedido_id       25056 non-null  int64
 2   quantidade      25056 non-null  int64
 3   valor_unitario  25056 non-null  float64
 4   valor_total     25056 non-null  float64
 5   estado          25056 non-null  object
 6   frete           25056 non-null  float64
 7   id_nf           25056 non-null  int64
dtypes: float64(3), int64(4), object(1)
memory usage: 1.5+ MB

In [10]:
itens_pedido.estado.unique()

array(['BR-PR', 'BR-PA', 'BR-RO', 'BR-MA', 'BR-RJ', 'BR-AL', 'BR-SP',
       'BR-RN', 'BR-PI', 'BR-PE', 'BR-CE', 'BR-BA', 'BR-RS', 'BR-SC',
       'BR-DF', 'BR-PB', 'BR-AC', 'BR-SE', 'BR-AM', 'BR-MG', 'BR-MT',
       'BR-BR-RR', 'BR-MS', 'BR-GO', 'BR-ES', 'BR-TO', 'BR-AP'],
      dtype=object)

In [11]:
itens_pedido.iloc[0].estado[3:]

'PR'

In [12]:
itens_pedido.estado = [est[3:] for est in itens_pedido.estado]
itens_pedido.head()

,produto_id,pedido_id,quantidade,valor_unitario,valor_total,estado,frete,id_nf
0,3,11482,6,250.0,1500.0,PR,300.0,24967
1,3,11985,5,6500.0,32500.0,PA,6500.0,24971
2,3,55229,1,6500.0,6500.0,RO,1300.0,25037
3,3,64811,3,139.0,417.0,MA,834.0,25054
4,4,47664,5,110.0,550.0,RJ,110.0,25026

In [13]:
itens_pedido.estado.unique()

array(['PR', 'PA', 'RO', 'MA', 'RJ', 'AL', 'SP', 'RN', 'PI', 'PE', 'CE',
       'BA', 'RS', 'SC', 'DF', 'PB', 'AC', 'SE', 'AM', 'MG', 'MT',
       'BR-RR', 'MS', 'GO', 'ES', 'TO', 'AP'], dtype=object)

In [14]:
itens_pedido.estado = itens_pedido.estado.replace({'BR-RR':'RR'})

In [15]:
itens_pedido.estado.unique()

array(['PR', 'PA', 'RO', 'MA', 'RJ', 'AL', 'SP', 'RN', 'PI', 'PE', 'CE',
       'BA', 'RS', 'SC', 'DF', 'PB', 'AC', 'SE', 'AM', 'MG', 'MT', 'RR',
       'MS', 'GO', 'ES', 'TO', 'AP'], dtype=object)

In [16]:
states = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amap치',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Cear치',
    'DF': 'Distrito Federal',
    'ES': 'Esp칤rito Santo',
    'GO': 'Goi치s',
    'MA': 'Maranh칚o',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Par치',
    'PB': 'Para칤ba',
    'PR': 'Paran치',
    'PE': 'Pernambuco',
    'PI': 'Piau칤',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rond칪nia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'S칚o Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

In [17]:
itens_pedido['estado_por_extenso'] = itens_pedido.estado.map(states)

In [18]:
itens_pedido.head()

,produto_id,pedido_id,quantidade,valor_unitario,valor_total,estado,frete,id_nf,estado_por_extenso
0,3,11482,6,250.0,1500.0,PR,300.0,24967,Paran치
1,3,11985,5,6500.0,32500.0,PA,6500.0,24971,Par치
2,3,55229,1,6500.0,6500.0,RO,1300.0,25037,Rond칪nia
3,3,64811,3,139.0,417.0,MA,834.0,25054,Maranh칚o
4,4,47664,5,110.0,550.0,RJ,110.0,25026,Rio de Janeiro

In [25]:
itens_pedido[['id_nf', 'produto_id']].sort_values(by='id_nf').tail()

     id_nf  produto_id
56   25052          37
128  25053         100
3    25054           3
104  25055          74
105  25056          74

In [39]:
itens_pedido_com_produto_id_ok = pd.read_csv('/content/Copy of Meteora - matriz.xlsx - itens_pedidos (1).csv')
itens_pedido_com_produto_id_ok.dropna(subset='id_nf', inplace=True)
itens_pedido_com_produto_id_ok[['id_nf', 'produto_id']].sort_values(by='id_nf').tail()

itens_pedido_com_produto_id_ok

,id_nf,produto_id,pedido_id,quantidade,valor_unitario,valor_total,Estado,frete
0,1.0,41518,341.0,3.0,260,780,BR-BA,156.0
1,2.0,4307,1174.0,5.0,6175,30875,BR-RJ,6175.0
2,3.0,22407,1399.0,3.0,200,600,BR-PB,120.0
3,4.0,3820,1652.0,6.0,139,834,BR-DF,166.8
4,5.0,29012,2470.0,3.0,525,1575,BR-BA,315.0
...,...,...,...,...,...,...,...,...
25051,25052.0,37384,63999.0,4.0,700,2800,BR-RO,560.0
25052,25053.0,100932,64594.0,5.0,3900,19500,BR-RO,3900.0
25053,25054.0,3820,64811.0,3.0,139,417,BR-MA,83.4
25054,25055.0,74864,65274.0,2.0,130,260,BR-SE,52.0
25055,25056.0,74864,67862.0,4.0,130,520,BR-RO,104.0

In [48]:
itens_pedido = itens_pedido.sort_values(by='id_nf').reset_index()
itens_pedido = itens_pedido.drop('index', axis=1)

In [50]:
itens_pedido = itens_pedido.drop('level_0', axis=1)

In [51]:
itens_pedido['produto_id'] = itens_pedido_com_produto_id_ok['produto_id']
itens_pedido['frete'] = itens_pedido_com_produto_id_ok['frete']
itens_pedido

,produto_id,pedido_id,quantidade,valor_unitario,valor_total,estado,frete,id_nf,estado_por_extenso
0,41518,341,3,260.0,780.0,BA,156.0,1,Bahia
1,4307,1174,5,6175.0,30875.0,RJ,6175.0,2,Rio de Janeiro
2,22407,1399,3,200.0,600.0,PB,120.0,3,Para칤ba
3,3820,1652,6,139.0,834.0,DF,166.8,4,Distrito Federal
4,29012,2470,3,525.0,1575.0,BA,315.0,5,Bahia
...,...,...,...,...,...,...,...,...,...
25051,37384,63999,4,700.0,2800.0,RO,560.0,25052,Rond칪nia
25052,100932,64594,5,3900.0,19500.0,RO,3900.0,25053,Rond칪nia
25053,3820,64811,3,139.0,417.0,MA,83.4,25054,Maranh칚o
25054,74864,65274,2,130.0,260.0,SE,52.0,25055,Sergipe
25055,74864,67862,4,130.0,520.0,RO,104.0,25056,Rond칪nia

In [52]:
itens_pedido.to_csv('itens_pedido_2.csv', header=True, index=False)